@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "HelveticaNeueBold";
  src: url("/public/assets/font/HelveticaNeue-Black.otf");
}

@font-face {
  font-family: "HelveticaNeueMedium";
  src: url("/public/assets/font/HelveticaNeue-Medium.otf");
}

@font-face {
  font-family: "HelveticaNeueRegular";
  src: url("/public/assets/font/HelveticaNeue-Light.otf");
}

textarea:focus,
input:focus {
  outline: #c4161b solid 2px !important;
  background-color: #f4f4f4 !important;
  color: #1a1a1a !important;
}

[type="text"]:focus,
[type="number"]:focus,
[type="date"]:focus,
[type="password"]:focus {
  box-shadow: none !important; /* Removes shadow */
  border-color: transparent !important; /* Resets border color */
  --tw-ring-color: #c4161b !important;
}

[type="text"],
[type="password"],
[type="number"],
[type="date"], {
  border: none !important;
}

.panelScroll::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

input[type="checkbox"]:checked {
  background-color: #22c55e !important; /* Green */
  color: white !important; /* White check icon */
}

select {
  border: none !important;
}

body {
  background-color: #F4F4F4; /* Apne desired color ka code yahan lagayein */
}

#gk-cards>div:nth-child(4n) {
  margin-right: 0px !important;
}

@media (max-width: 1024px) {
  #gk-cards>div:nth-child(3n) {
    margin-right: 0px !important;
  }
}

.sun-editor .se-wrapper{
  height: 400px !important;
}
